.input-lam {
  font-family: monospace;
  width: 50em;
  height: 20em;
}

.output-lam {
  font-family: monospace;
}

.output-error {
  color: #c33;
  font-family: monospace;
}

.step.after {
  margin-bottom: 0.5em;
}
.step.before .step-part.highlighted {
  background: #eef;
  color: #33c;
}
.step.after .step-part.highlighted {
  background: #fee;
  color: #c33;
}
